# Copyright 2019 SoloKeys Developers
# Copyright Nitrokey GmbH
# SPDX-License-Identifier: Apache-2.0 OR MIT

# Please consider
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore
# before adding to this file

dist/
build/
venv/
venv-ci/
firmware-*.json
*.sha2
*.hex
uv.lock

*.pyc
.tags*
.idea/
*.log
tmp/
