[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "pynitrokey"
authors = [
  { name = "Nitrokey", email = "pypi@nitrokey.com" },
]
readme = "README.md"
requires-python = ">=3.9"
classifiers = [
  "License :: OSI Approved :: MIT License",
  "License :: OSI Approved :: Apache Software License",
  "Intended Audience :: Developers",
  "Intended Audience :: End Users/Desktop",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
]
dependencies = [
  "cffi",
  "click >=8.1.6, <9",
  "cryptography >=43,<45",
  "ecdsa",
  "fido2 >=1.2.0,<2",
  # Limit hidapi to versions using the hidraw backend, see
  # https://github.com/Nitrokey/pynitrokey/issues/601
  "hidapi >=0.14.0.post1, <0.14.0.post4",
  "intelhex",
  "nkdfu",
  "nitrokey ~=0.2.1",
  "pyusb",
  "requests",
  "tqdm",
  "tlv8",
  "click-aliases >=1.0.5, <2",
  "semver",
  "nethsm >=1.2.1, <2",
]
dynamic = ["version", "description"]

[project.optional-dependencies]
dev = [
  "black >=22.1.0,<23",
  "flake8",
  "flit >=3.2,<4",
  "ipython",
  "isort",
  "mypy >=1.4,<1.5",
  "pyinstaller ~=6.11.1",
  "pyinstaller-versionfile ==3.0.0; sys_platform=='win32'",
  "types-cffi",
  "types-requests",
  "types-tqdm",
  "pytest",
  "pytest-reporter-html1",
  "oath"
]
pcsc = ["pyscard >=2.0.0,<3"]

[project.urls]
Source = "https://github.com/Nitrokey/pynitrokey"

[project.scripts]
nitropy = "pynitrokey.cli:main"

[tool.black]
target-version = ["py39"]

[tool.isort]
py_version = "39"
profile = "black"

[tool.mypy]
mypy_path = "stubs"
show_error_codes = true
python_version = "3.9"
strict = true

# disable strict checks for old code, see
# - https://github.com/python/mypy/issues/11401
# - https://mypy.readthedocs.io/en/stable/existing_code.html#introduce-stricter-options
[[tool.mypy.overrides]]
module = [
    "pynitrokey.cli",
    "pynitrokey.cli.pro",
    "pynitrokey.cli.program",
    "pynitrokey.cli.start",
    "pynitrokey.cli.storage",
    "pynitrokey.cli.update",
    "pynitrokey.conftest",
    "pynitrokey.libnk",
    "pynitrokey.start.*",
    "pynitrokey.test_secrets_app",
]
check_untyped_defs = false
disallow_incomplete_defs = false
disallow_untyped_defs = false

[tool.pytest.ini_options]
log_cli = false
log_cli_level = "INFO"
log_cli_format = "%(asctime)s [%(levelname)3s] %(message)s"
log_cli_date_format = "%H:%M:%S"
markers = [
    "slow: marks tests as slow (deselect with '-m \"not slow\"')",
]

[tool.ruff]
line-length = 120
exclude = [
    "venv",
    "start",
    "nk3",
]
target-version = "py39"
